body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}


.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.container-box{
  width: 50%;
  height: 40vh;
}

.box-anim {
  background-color: #006828;
  height: 40vh;
  margin-right: 20px;
}

.box-anim-text{
  color: #006828;
  font-family: 'PT Sans Narrow';
  font-size: 60px;
  text-align: center;
  padding: 0;
  transform: rotateX(90deg);
}

.container-text {
  padding-top: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title-text {
  color: white;
  font-family: 'PT Sans Narrow';
  font-size: 90px;
  text-align: center;
}


.title-text2 {
  color: white;
  font-family: 'PT Sans Narrow';
  font-size: 50px;
  text-align: center;
}
.title-text2 .border2 {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 3px;
  background-color: white;
}


.logo {
  display: block;
  opacity: 0;
  margin-right: 20px;
}

/* .bigtext {
  display: block;
  color: white;
  font-family: 'PT Sans Narrow';
  font-size: 90px;
  font-weight: 900;
  position: absolute;
  left: 39%;
  bottom: 45%;
  border: solid 10px white;
  padding: 10px 100px 10px 100px;
} */
.bigtext {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
.bigtext-text{
  color: white;
  font-family: 'PT Sans Narrow';
  font-size: 90px;
  font-weight: 900;
  bottom: 45%;
  position: absolute;
  border: solid 10px white;
  padding: 10px 100px 10px 100px;
}





.line1 {
  position: absolute;
  left: 50%;
  width: 300px;
  background-color: #006828;
  height: 0;
  bottom: 0;
}
.line2 {
  position: absolute;
  right: 50%;
  width: 300px;
  background-color: #006828;
  height: 0;
  top: 0;
}


.subtitle{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}

.container {
  width: 50%;
  margin: 0;
  padding: 0;
  height: 100%;
}


.box-subtitle {
  display: flex;
  width: 100%;
  background-color: #006828;
  align-items: center;
  justify-content: center;
  height: 0;
}

.svg-box1 path{
  /* fill: none; */
  /* stroke: white; */
  fill: white;
  stroke-width: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.svg-box1{
  display: flex;
}

.container2 {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0;
  padding: 0;
  height: 100%;
  align-items: center;
}


.box-subtitle-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #006828;
  width: 0vh;
  margin-left: 20px;
  align-items: center;
}

.text_anim2{
  color: white;
  font-family: 'PT Sans Narrow';
  font-size: 60px;
  text-align: center;
  padding: 0;
}

.container-svg {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.svg_circle{
  fill: white;
  transform: translateX(20vw);
  opacity: 0;
}

.background {
  display: none;
}

/* .background {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #006828;
  opacity: 0;
  transition: opacity 1s ease;
  z-index: -1;
} */

.background-container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin-top: -50px;
}

.background-text{
  /* margin-top: 50px; */
  margin-bottom: 50px;
  color: white;
  font-family: 'PT Sans Narrow';
  font-size: 1.3rem;
  text-align: center;
}

.background-text p:first-child{
  color: white;
  font-family: 'PT Sans Narrow';
  font-size: 30px;
  text-align: center;
}

.button{
  display: flex;
  justify-content: center;
}

.background-button{
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid white;
  text-decoration: none;
  color: white;
  font-family: 'PT Sans Narrow';
  font-size: 30px;
  text-align: center;
  /* margin-top: 50px; */
  width: 200px;
  transition-duration: 0.5s;
}

.background-button:hover{
  color: #006828;
  background: white;
  border-radius: 20px;
  transition-duration: 0.5s;
}