body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}


.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.container-box{
  width: 50%;
  height: 40vh;
}

.box-anim {
  background-color: #006828;
  height: 40vh;
  margin-right: 20px;
}


.box-anim-text{
  color: #006828;
  font-family: 'PT Sans Narrow';
  font-size: 60px;
  text-align: center;
  padding: 0;
}

.container-text {
  padding-top: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.title-text {
  color: white;
  font-family: 'PT Sans Narrow';
  font-size: 90px;
  text-align: center;
}


.title-text2 {
  color: white;
  font-family: 'PT Sans Narrow';
  font-size: 50px;
  text-align: center;
}
.title-text2 .border2 {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 3px;
  background-color: white;
}


.logo {
  display: block;
  opacity: 0;
  margin-right: 20px;
}

.bigtext {
  display: block;
  color: white;
  font-family: 'PT Sans Narrow';
  font-size: 90px;
  font-weight: 900;
  position: absolute;
  left: 39%;
  bottom: 45%;
  border: solid 10px white;
  padding: 10px 100px 10px 100px;
}


.line1 {
  position: absolute;
  left: 50%;
  width: 300px;
  background-color: #006828;
  height: 0;
  bottom: 0;
}
.line2 {
  position: absolute;
  right: 50%;
  width: 300px;
  background-color: #006828;
  height: 0;
  top: 0;
}


.subtitle{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}

.container {
  width: 50%;
  margin: 0;
  padding: 0;
  height: 100%;
  /* margin-right: 20px; */
}

.container2 {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0;
  padding: 0;
  height: 100%;
  align-items: center;
}

.box-subtitle {
  display: flex;
  width: 100%;
  background-color: #006828;
  align-items: center;
  justify-content: center;
  /* margin-right: 20px; */
}

.svg-box1 path{
  fill: none;
  stroke: white;
  fill: white;
  stroke-width: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.svg-box1{
  display: flex;
}


.box-subtitle-2 {
  background-color: #006828;
  width: 0vh;
  margin-left: 20px;
}

